#loginForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginForm #usernameInput {
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 0;
    border: 1px solid black;
    box-sizing: border-box;
    height: 30px;
}

body, html, #loginForm {
    height: 100%;
}
