.button {
    border-radius: 0;
    padding: 0 20px;
    border: 1px solid black;
    box-sizing: border-box;
    height: 30px;
}

.big-button {
    width: 200px;
    height: 80px;
    font-size: 2rem;
}

body, html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 8px;
    padding: 0;
    border: 0;
    outline: 0;
}

.invisible {
    display: none !important;
}

#modalBG {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000D;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalContent {
    width: 50%;
    height: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-select {
    user-select: none;
}
